standard_names_v1_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- identifier types -->

  <xs:simpleType name="standard_name_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z][a-z0-9_]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="integer"/>
      <xs:pattern value="real"/>
      <xs:pattern value="logical"/>
      <xs:pattern value="character"/>
      <xs:pattern value="complex"/>
      <xs:pattern value="ddt"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="version_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9][0-9]*[.][0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- attributes -->

  <xs:attribute name="comment"        type="xs:string"/>
  <xs:attribute name="description"    type="xs:string"/>
  <xs:attribute name="name"           type="standard_name_type"/>
  <xs:attribute name="units"          type="xs:string"/>
  <xs:attribute name="version"        type="version_type"/>

  <!-- definition of complex types -->

  <xs:complexType name="md_type">
    <xs:simpleContent>
      <xs:extension base="type_type">
        <xs:attribute ref="units" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="stdname_type">
    <xs:sequence>
      <xs:element name="cfname"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1"/>
      <xs:element name="type"
                  type="md_type"
                  minOccurs="0"
                  maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="name"        use="required"/>
    <xs:attribute ref="description" use="optional"/>
    <xs:attribute ref="comment"     use="optional"/>
  </xs:complexType>

<xs:complexType name="section_type">
  <xs:choice>
    <xs:sequence>
      <xs:element name="standard_name"
                  type="stdname_type"
                  minOccurs="1"
                  maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:sequence>
      <xs:element name="section"
                  type="section_type"
                  minOccurs="1"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:choice>

  <xs:attribute name="name"   type="xs:string"/>
  <xs:attribute ref="comment" use="optional"/>
</xs:complexType>

  <!-- definition of elements -->

  <xs:element name="section" type="section_type">
  </xs:element>

  <xs:element name="standard_names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="section" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name"    type="xs:string"    use="required"/>
      <xs:attribute name="version" type="version_type" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
